/* import style for forms
-------------------------------------------------------
*/
@import url(forms.css);


/* general
-------------------------------------------------------- 
*/

*{
font-family:proxima-nova-soft,sans-serif;
font-size:16px;
color:#333;
line-height:1.6em
}
html,body{
 margin:0;
 padding:0;
}
html{
background:#e6e6e6;
overflow-y:scroll;

}
body{
background:#E8E8E8;
}
h1,h2{
color:#FDB813;
}
h1{
text-transform: uppercase;
font-size:33px;
}
h2{
font-size:24px;
border-bottom: 1px solid #ddd;
text-transform: uppercase;
}
img{
border:0;
}



/*----Centrera sidan---*/
header#top,div#content,nav.navMenu{
margin: 0 auto;
width:1200px;
}
/*---Fixa avstånden lite snyggt för main content ---*/
div#content{
 padding:1em 0 1em 0;
}
/*----toppen---*/
header#above{
border-bottom:1px solid #E6E6E6;
margin-bottom:2px;
padding-left:5px;
background:-moz-linear-gradient(right center , #d0d1d1 0%, #e6e6e6 69%) repeat scroll 0 0 #d0d1d1;
color:#393939;
height:30px;
}
#topMenu{
background:url('img/diWhite.png') repeat scroll 0 0 transparent;
height:30px;

}
nav.related{
margin:0 auto;
width:950px;
}
nav.related, nav.login{
padding-top:5px;
}
nav.login{
float:right;
padding-right:5px;
}
/*----logo och text ---*/
header#top{
overflow:auto;
}
header#top h1{
	border:none;
}
/*---NAVIGATION---*/
nav.navMenu{
 padding: 2px 8px; 
 width:380px;
 float:right;
}
nav.navMenu a{
 padding: 6px 8px;
 
}


/*-----foten-----*/
div#footer{
background:hsla(0,50%,80%,0.10);
padding-top:5px;
padding-bottom:10px;

}
footer.byline{
 clear:both;
 border-top: 1px dashed #999999;
 margin-top: 2em;
 padding: 1em;
 color: #555;
 font-size: smaller;
 font-style: italic;

}
footer#bottom{
background:#FDBB1D;
padding: .2em 0 .2em 0;
}
#footerText{
margin: 0 auto;
width:940px;
padding:10px;
}


/*---Links-style---*/
a { color: #666; outline:0;}
a:link{text-decoration: none;}
a:visited {}
a:hover { text-decoration:underline; color: #697BA2;}
a:active{}

/*--know what tab that is in use-- */
body#index a#index-,
body#article a#article-,
body#about a#about-,
body#source a#source-,
body#test a#test-{
color:green;
}
/*--Know what undersite that is in use--*/
ul#showArticle li#article-read->a,
ul#read-all li#article-readAll->a{
color:green;
}

/*---rätta till stuffgrejer ---*/
.right {float:right;}
.left {float:left;}

div#content { 
overflow:auto;
background:#FFF;
box-shadow: 0 0 5px rgba(0,0,0,0.2);
padding-bottom:40px;
}
.containerWrapper{
margin:0 auto;
width:960px;
}
.justifyBorder{
padding:10px;
}

/*---Snygga till bilder---*/
figure {
 padding:4px;margin:1em;
 }
figcaption {
font-style:italic;
font-size:smaller;
padding-left:1em;
}

figure.right{
margin-right:0;
}
figure.top{
margin-top:0;
}
figure.bottom{
border: none;
}
figure.fullwidth
{margin-left:0;
margin-right:0;
}

/* Display code in a block */
blockquote.code {
font-family:monospace;
white-space:pre;
background:#F2F2F2;
margin-left:0;
margin-right:0;
padding-left:0.5em;
border:1px solid #999;
overflow:auto;
}

/*---Vänstermenyn---*/
nav.lmenu ul, nav.lmenu ul ul{
list-style:outside none;
margin:5px;
padding:0;
}
ul#kmom02_pageStyle     li#pagestyle >a,
ul#kmom03_get   			li#get >a,
ul#kmom03_getform 		li#getform >a,
ul#kmom03_postform 	li#postform >a,
ul#kmom03_validate		li#validate >a,
ul#kmom03_server		li#server >a,
ul#kmom03_destroySession li#destroySession >a,
ul#kmom03_changeSession li#changeSession >a,
ul#kmom03_showSession li#showSession >a{
color:green;
}


/*Article style */
article.rightContent{
overflow:auto;
float:right;
}
section#textContent{
float:left;
width:95%;
overflow:auto;
}
#imageContent{

}
article.maggyLeft{
float:left;
width:69%;
}
aside.maggyRight{
float:left;
width: 27%;
}